Abigail Cabunoc <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Erin Becker <erinstellabecker@gmail.com> ErinBecker <erinstellabecker@gmail.com>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Nick Young <nbay92@gmail.com> <nick.young@auckland.ac.nz>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Rémi Emonet <remi.emonet@reverse--com.heeere> <twitwi@users.noreply.github.com>
Tracy Teal <tracyt@idyll.org> <tkteal@gmail.com>
Tracy Teal <tracyt@idyll.org> <admin@datacarpentry.org>
Laurent Gatto <lg390@cam.ac.uk> Laurent <lg390@cam.ac.uk>
Ben Marwick <benmarwick@gmail.com> <benmarwick@hotmail.com>
Kari L. Jordan <kariljordan@carpentries.org> <kariljordan@me.com>
Francisco Rodriguez-Sanchez <f.rodriguez.sanc@gmail.com>
Christie Bahlai <cbahlai@msu.edu>
Martin Dreyer <amfdrey@gmail.com>
Amy Nurnberger <Nurnberger.Amy@gmail.com>
Jaclyn Saunders <jaclynsaunders@gmail.com>
Karen Cranston <karen.cranston@gmail.com>
Timothée Poisot <tim@poisotlab.io> <timothee.poisot@umontreal.ca>
Christina Koch <christinakconnect@gmail.com>
Geoffrey Boushey  <Geoffrey.Boushey@ucsf.edu>
Maneesha Sane <ahseenam@gmail.com>
Saira Kazmi <sairarizkaz@gmail.com>
Aaron Reba <aaronreba@gmail.com>
Hugo Bowne-Anderson <hugobowne@gmail.com> <hugo@datacamp.com>
Carlos M Ortiz-Marrero <carlos.ortizmarrero@pnnl.gov>
Shawn Taylor <sdtaylor@users.noreply.github.com>
Mateusz Kuzak <mateusz.kuzak@gmail.com> <mateusz.kuzak@gmail.com>
Sean RG Barberie <srbarberie@alaska.edu>
Jeremy D Zucker <jeremy.zucker@pnnl.gov>
Asher Baltzell <asherkhb@gmail.com>
April M. Wright <wright.aprilm@gmail.com>
Leah Wasser <leah.wasser@colorado.edu> <lwasser@neoninc.org>
